.mat-toolbar.mat-primary {
    background-color: #19287e;
    color: white;
    height: 700;
    font-family: Arial;
    
  }
.mat-button{
  background-color:#19287e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
}
.spacer
{
    flex:1 1 auto;
}
img {
  border-radius: 50%;
  width:7%;
  height:53px;
}
.s{
  background-color:#a09f9f;
}




