div{
    background-color: rgb(224, 227, 228)
    
}
button.a{
    text-align: center;
    background-color:  #9a9daf;
    margin-top: 35px;
       
}
.card{
    background-color:rgb(224, 227, 228) ;
}