<div class="card">
<h3 class="display">Enter Your Fund Id</h3>
<div class="container-fluid">
    <div class="row">
       
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" id="fundId" placeholder="Fund Id"[(ngModel)]="this.buyerInfo.fundId" name="fundId">
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-primary" (click)="onSubmit(this.buyerInfo.fundId)">Submit</button>
           
        </div>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>