<div class="card">
    <div class="container-fluid">
    <div class="card-body" >
    <div class ="text">
        
     <h1 style="color:black ">Welcome</h1>
     <a routerLink="/home/bankaccount" routerLinkActive="active" class="btn btn-primary a">Account Setup</a>
    </div>&nbsp;

    <div>
        <a routerLink="/home/mutualfund" routerLinkActive="active" class="btn btn-primary b">MutualFund Account Setup</a>
    </div>&nbsp;
    <div>
        <a routerLink="/home/transaction" routerLinkActive="active" class="btn btn-primary c">View Transaction Details</a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div></div></div>
<router-outlet></router-outlet>
